<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>支付日志管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->
    <script type="text/javascript" src="../js/base/base_pagination.js"></script>
    <script type="text/javascript" src="../js/service/contentService.js"></script>
    <script type="text/javascript" src="../js/service/contentCategoryService.js"></script>
    <script type="text/javascript" src="../js/service/uploadService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/contentController.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="youlexuan"
      ng-controller="contentController" ng-init="findContentCategoryList()">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">支付日志管理</h3>
</div>

<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">
        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <!--<button type="button" ng-click="dele()" class="btn btn-default" title="删除"><i-->
                    <!--class="fa fa-trash-o"></i> 删除-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-default" title="开启" onclick='confirm("你确认要开启吗？")'><i-->
                    <!--class="fa fa-check"></i> 开启-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i-->
                    <!--class="fa fa-ban"></i> 屏蔽-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-default" title="刷新" ng-click="reloadList()"><i-->
                    <!--class="fa fa-refresh"></i> 刷新-->
                    <!--</button>-->
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">

            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">订单号</th>
                <th class="sorting">用户ID</th>
                <th class="sorting">交易号码</th>
                <th class="sorting">交易状态</th>
                <th class="sorting">支付类型</th>
                <th class="sorting">创建日期</th>
                <th class="sorting">支付完成时间</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input type="checkbox" ng-click="updateSelection($event,entity.outTradeNo)"></td>
                <td>{{entity.outTradeNo}}</td>
                <td>{{entity.userId}}</td>
                <td>{{entity.transactionId}}</td>
                <td>{{entity.tradeState}}</td>
                <td>{{entity.payType}}</td>
                <td>{{entity.createTime}}</td>
                <td>{{entity.payTime}}</td>
                <td class="text-center">
                    <button type="button" ng-click="findOne(entity.outTradeNo)" class="btn bg-olive btn-xs"
                            data-toggle="modal"
                            data-target="#editModal">查看详情
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <tm-pagination conf="paginationConf"></tm-pagination>
        <!--数据列表/-->
    </div>
    <!-- 数据表格 /-->
</div>
<!-- /.box-body -->


<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">支付日志详情</h3>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>订单号</td>
                        <td>
                            <input class="form-control" readonly ng-model="entity.outTradeNo">
                            </input>
                        </td>
                    </tr>
                    <tr>
                        <td>用户ID</td>
                        <td><input ng-model="entity.userId" class="form-control" readonly></td>
                    </tr>
                    <tr>
                        <td>交易号码</td>
                        <td><input ng-model="entity.transactionId" readonly class="form-control"></td>
                    </tr>
                    <tr>
                        <td>交易状态</td>
                        <td><input readonly ng-model="entity.tradeState" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>支付类型</td>
                        <td>
                            <input ng-model="entity.payType" readonly class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>创建日期</td>
                        <td>
                            <input readonly ng-model="entity.createTime" type="text"
                                    class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>支付日期</td>
                        <td>
                            <input readonly ng-model="entity.payTime" type="text"
                                   class="form-control">
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>